
*.ipch

*.db

*.opendb

RT3D2019_Hierarchy/Debug/

*.obj

*.log

*.tlog

RT3D2019_Hierarchy/Hierarchy/Debug/

RT3D2019_Hierarchy/Shared/Shared.vcxproj

RT3D2019_Hierarchy/Shared/Shared.vcxproj.filters

RT3D2019_Hierarchy/Shared/Shared.vcxproj.user

RT3D2019_Hierarchy/Shared/Debug/Shared.idb

RT3D2019_Hierarchy/Shared/Debug/Shared.pdb

RT3D2019_Hierarchy/Shared/DirectX11_Debug.props

RT3D2019_Hierarchy/Shared/DirectX11_Release.props

RT3D2019_Hierarchy/.vs/RT3D2019_Hierarchy/v15/.suo

RT3D2019_Hierarchy/.vs/RT3D2019_Hierarchy/v15/Solution.VC.db-shm

RT3D2019_Hierarchy/.vs/RT3D2019_Hierarchy/v15/Solution.VC.db-wal

RT3D2019_Hierarchy/Hierarchy/Hierarchy.vcxproj

RT3D2019_Hierarchy/Hierarchy/Hierarchy.vcxproj.user

RT3D2019_Hierarchy/Hierarchy/Resources/
